/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
@import "tailwindcss";
/* @import "tailwindcss/preflight";
@tailwind utilities; */

.heroBanner {
  padding: 14rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 80vh;
  color: aliceblue;
  box-shadow: 16px 20px 60px rgba(0, 0, 0, 0.3);
  background: linear-gradient(155deg, #4000FF 0%, #11D419 100%);
}

.buttonHero {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 32rem;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 758px) {
  .heroBanner {
    padding: 1rem;
  }

  .heroBanner .heroAndSnippet {
    grid-template-columns: auto;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    justify-content: center;
  }

  .heroBanner .heroContent {
    max-width: 600px;
    place-items: center;
    justify-content: center;
  }

  .buttonHero {
    background-color: rgb(89, 175, 2);
    width: 100%;
    color: rgb(255, 255, 255);
  }
}

.buttons {
  display: flex;
  gap: 2rem;
}

.logDashboard {
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  margin-bottom: 5rem;
}

.heroAndSnippet {
  display: grid;
  grid-template-columns: 40% auto;
  align-items: stretch;
  justify-content: space-between;
  gap: 22rem;
}